:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;
	--olO: 1px solid orange;
	--olG: 1px solid green;

	/* Project Colors: */
	--project-color-main: #0041c2;
	--project-color-light: #3b82f6;
	--project-color-dark: #0f172a;

	--accent: #3eb489;
	--accent-dark: #34a56f;

	/* Contrast / Font Colors */
	--font-color-main: #c0c0c0;
	--font-color-light: #f5f5f5;
	--font-color-dark: #b6b6b6;
	--contrast-color-main: var(--font-color-main);
	--contrast-color-light: var(--font-color-light);
	--contrast-color-dark: var(--font-color-dark);

	/* Project Fonts */
	--logo-font: 'Payung Senja', sans-serif;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html {
	justify-content: center;
	display: flex;
	padding: 20px 0;
}
body {
	background: var(--project-color-main);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 8px 0;
	max-width: 1400px;
	min-width: 320px;
	height: auto;
	position: relative;
	outline: var(--olY);
}

a,
li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-btn,
button {
	height: 40px;
	width: 120px;
	border-radius: 8px;
	background-color: var(--accent);
	color: var(--font-color-light);
	font-weight: 600;
	font-size: 16px;
	text-shadow: 1px 1px 1px var(--black);
	box-shadow: 1px 1px 5px 1px var(--black);
	cursor: pointer;
	text-align: center;
	place-content: center;
}

.cta-btn:hover {
	background: var(--accent-dark);
	transition: all ease 0.6s;
}

section {
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	margin-top: 50px;
	padding: 15px 0;
}

.video-card {
	height: 360px;
	width: 280px;
	border: 2px outset var(--accent-dark);
	flex-direction: column;
}

video {
	width: 98%;
	height: 80%;
	border: 2px solid var(--accent);
	box-shadow: 2px 2px 2px 2px var(--black);
	object-fit: cover;
}
