@media screen and (max-width: 501px) {
	header {
		justify-content: center;
	}
	.main-nav {
		display: none;
	}

	.fa-bars {
		display: flex;
	}

	.year-container-toggle {
		display: block;
	}

	.main-year-toggle-container {
		width: 300px;
		height: 90px;
	}

	.video-year-nav-container {
		height: 20px;
	}

	.main-year-toggles {
		display: none;
	}
}
